

<head>
  <title>simple-todos</title>
</head>


<body>
  {{> menu}}
</body>


<template name="hello_counter">
  <button class="b-clickme">Click Me</button>
  <div class="b-message">
    Button pressed <b style="font-size:1.3em">{{counter}}</b> times.
  </div>
</template>

<template name="menu">
  <center>
    <h2 style="color:white;">Chat for registered users (Meteor + ReactJS)</h2>
  </center>
    <div class="centerDiv">
      <ul class="centerUL">
        <li><a href="https://www.meteor.com/try" target="_blank">Do the Tutorial</a></li>
        <li><a href="https://docs.meteor.com" target="_blank">Read the Docs</a></li>
        <li><a href="https://forums.meteor.com" target="_blank">Discussions</a></li>
      </ul>
    </div>
</template>
