<template name="message">

  <li class="{{#if checked}}checked{{/if}}">
    <button class="time">
      {{prefix_zero(createdAt.getHours)}}:{{prefix_zero(createdAt.getMinutes)}}
      ({{createdAt.getDate}}.{{createdAt.getMonth}})
      <span class="delete">.</span>
    </button>

    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />

    <span class="text"><strong>{{username}}</strong> - {{text}}</span>
  </li>

</template>
