<template name="users">
  <h1>User Profile</h1>
  <form class="user-profile">
    <p><input type="text" name="fullName" value="{{ fullName }}" placeholder="Full Name" /></p>
    <p><input type="text" name="email" value="{{ email }}" placeholder="Email" /></p>
    <p>
      <select id="location_select" name="location_select">
          <option disabled="disabled" selected="selected">
            {{#if location}} {{ location }} {{else}} Location {{/if}}
          </option>
          {{#each locations}}
              <option value="{{this}}">{{this}}</option>
          {{/each}}
      </select>
    </p>
    <p><input type="submit" name="submit" value="Save" /></p>
  </form>
</template>
