<body>
  <div class="container">

    <header>

      {{> loginButtons}}

      {{#if currentUser}}

        <label class="profile-on-off">
          Edit Your Profile
          <input type="checkbox" />
        </label>
        {{#if profileOnOff}}
          <br>
          {{> users}}
        {{/if}}

        <br>

        <h1>Messages List ({{incompleteCount}})</h1>

        <label class="hide-completed">
          Hide Read Messages
          <input type="checkbox" />
        </label>

        <form class="new-message">
          <input type="text" name="text" placeholder="Type to add new message" />
        </form>

      {{/if}}

    </header>

    <ul>
      {{#each messages}}
        {{> message}}
      {{/each}}
    </ul>
  </div>
</body>
