/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, green, lightgreen 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  position: relative;
}

.new-message input {
  box-sizing: border-box;
  padding: 3px;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  background-color: white;
  border: 3px solid white;
  height: 1.8em
}

.new-message input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.time {
  float: right;
  /*font-weight: bold;*/
  background: none;
  color:gray;
  font-size: 0.8em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
  clear:both;
}

header .profile-on-off {
  float: right;
  clear:both;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-message input {
    padding-bottom: 5px;
  }
}

div.centerDiv {
    width: 100%;
    text-align: center;
    /*border: 1px solid green;*/
}
ul.centerUL {
    margin: 0 auto;
    line-height: 1.4;
    padding: 5px;
}
.centerUL li {
    display: inline;
    text-align: center;
}
.centerUL li a {
    color: green;
}
.user-profile p input {
  padding: 3px;
}
.user-profile p select {
  padding: 3px;
}
